@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,400;0,500;0,700;0,800;1,100;1,400;1,500;1,700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fredoka:wght@300;400;500;600;700&family=IM+Fell+English+SC&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

main{
    box-sizing: border-box;
    justify-content: center;
    background-color: white;
    height: 100%;
}

.main02{

    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main01 {
    display: flex;
    padding-left: 2.5%;
}



.left-side{
    display: flex;
    width: 50vw;
    height: 80.8vh;
    flex-direction: column;
    word-wrap: break-word;
}



.left-side h1{
    display: flex;
    margin-top: 50px;
    font-size: 6vw;
    color: purple;
    font-family: 'Roboto-mono', sans-serif;
    font-weight: 700;
    transform: rotate(var(--rota-rotate));
    -webkit-text-stroke-width: 1.7px;
    -webkit-text-stroke-color: white;
    padding: 1%;
}

mark{
    background-color: #FFD700;
    line-height: 1.5;
    padding: 4px;
    border-radius: 5px;
}

.mytext {
    font-size: 25px;
    font-family: 'Poppins';
    font-weight: 400;
    color: purple;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    text-align: center;
    text-shadow: 0.01em 0.1em 0.2em grey
}

.main-tittle{
    margin-top: 70px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 600;
    color: purple;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-shadow: 0.01em 0.1em 0.2em grey
}

.main-tittle-2{
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 600;
    color: purple;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: white;
    text-shadow: 0.01em 0.1em 0.2em grey
}

.button-changecolor{
    position: absolute;
    left: 1%;
}

:root{
    --rota-rotate:-5deg;
    --topo-top: 10%;
    --topo15-top: 15%;
    --topo20-top: 20%;
    --topo30-top: 30%;
}

.left-side:hover{
    --rota-rotate: 0deg;
    --topo-top: 0%;
    --topo15-top: 0%;
    --topo20-top: 0%;
    --topo30-top: 0%;
    animation-name: arrumar;
    animation-duration: 0.5s ;
  
}

@keyframes arrumar{
    100% { 
        --rota-rotate: 0deg;
        --topo-top: 0%;
        --topo15-top: 0%;
        --topo20-top: 0%;
        --topo30-top: 0%; 
        }

    75% {
        --rota-rotate: -1.25deg;
        --topo-top: 2.5%;
        --topo15-top: 3.75%;
        --topo20-top: 5%;
        --topo30-top: 7.5%; 
    }
    
    50% { 
        --rota-rotate: -2.5deg;
        --topo-top: 5%;
        --topo15-top: 7.5%;
        --topo20-top: 10%;
        --topo30-top: 15%;   
    }

    25% {
        --rota-rotate: -3.25deg;
        --topo-top: 7.5%;
        --topo15-top: 10.25%;
        --topo20-top: 15%;
        --topo30-top: 22.5%;
    }

    0% {
        --rota-rotate: -5deg;
        --topo-top: 10%;
        --topo15-top: 15%;
        --topo20-top: 20%;
        --topo30-top: 30%; 
    }

}

.principal p{
    margin-top: 20px;
    color: white;
    font-size: 25px;
}

.right-side{
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 50vw;
}

.img{
    width: 30vw;
    margin-top: 50px;
}

.welcome{
    justify-content: center;
    display: flex;
    flex-direction: row;
}


.B{
    position: relative;
    word-break: break-all;
}

.E{
    position: relative;
    top: var(--topo-top);
    word-break: break-all;
}

.M{
    position: relative;
    word-break: break-all;
    margin-right: 5%;
}

.V{
    position: relative;
    word-break: break-all;
}

.I{
    position: relative;
    word-break: break-all;
    top: var(--topo-top);
}

.N{
    position: relative;
    word-break: break-all;

    top: var(--topo20-top);
}

.D{
    position: relative;
    word-break: break-all;
    top: var(--topo30-top);
}

.O{
    position: relative;
    word-break: break-all;
    top: var(--topo15-top);
}




.inner {
    display: flex;
}

.itens {
    min-height: 200px;
    min-width: 400px;
    padding: 14px;
}

.cards{
    padding: 14px;
    border: 3px solid;
    width: 100%;
    height: 90%;
    pointer-events: none;
}

@media screen and (max-width: 600px) {
    .img{
        width: 100vw;
        top: 30%;
        opacity: 0;
        position: absolute;
        right: 10%;
    }

    .main01 .left-side{
        width: auto;
        position: relative;
    }
    .left-side h1{
        font-size: 13.5vw;
        left: 1%;
        color: purple;
    }

    .main-tittle{
        font-size: 7vw;
    }

    .main-tittle-2{
        font-size: 7vw;
    }



    .main-tittle{
        margin-bottom: 5%;
    }

    mark{
        padding: 0.1%;
    }

    .mytext{
        font-size: 5vw;
    }

    .left-side p{
        font-size: 5vw;
        text-shadow: 0.1em 0.1em 0.2em black;
        color: purple;
        -webkit-text-stroke-width: 0.45px;
        -webkit-text-stroke-color: black;
    }


}

@media screen and (max-width: 1020px){
    .left-side p{
        font-size: 20px;
    }

}