@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.profile{
    height: 12vh;
    width: auto;
    position: absolute;
    left: 2%;
    bottom: 18%;
    

}
.mb-3{
    display: flex;
    height: 18vh;
    background: linear-gradient(180deg, rgba(251, 156, 45, 0.76) 0%, rgba(112, 0, 255, 0.76) 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.buttons{
    display: flex;
    word-wrap: break-word;
    justify-content: space-between;
    width: 65vw;
    height: 7vh;

}


.button-header{
    
    width: 10vw;
    height: 5vh;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.36vw;
    
    text-align: center;
    padding-top: 0.3%;
    
    color: #721BA8;
    
    border: 1px solid #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    border-radius: 5px;
}

.button-header:hover{
    text-decoration: none;
    color: black;
    background-color: lightpink;
    transition: 0.4s all ease-in-out;
}

@media screen and (max-width: 767px) {
    .profile{
        position: absolute;
        left: 2%;
        bottom: 2%;
    }

    .Menu-responsive{
        display: flex;
        padding-top: 2.7%;
        flex-direction: row;
    }
    
    .logo{
        float: right;
        
    }
    
        .response-delete {
            width: 0;
            display: none;
        }
    
     .Three-points{
        left: 4%;
        top: 4.5%;
        position: absolute;
        width: 37px;
        height: 6px;
        border-radius: 20px;
        background: black;
        transition: 0.25s ease-in-out;
     }
    
     .Three-points::before{
        top: -12px;
        content: '';
        position: absolute;
        border-radius: 20px;
        width: 37px;
        height: 6px;
        background: black;
        transition: 0.5s;
     }
    
     .Three-points::after{
        top: 12px;
        content: '';
        position: absolute;
        border-radius: 20px;
        width: 37px;
        height: 6px;
        background: black;
        transition: 0.5s;
     }
    
    
        .list{
            display: flex;
            flex-direction: column;
            left: 1%;
            padding: 45px 0 0;
            color: white;
            flex-wrap: nowrap;
            font-size: 1.2rem;
            font-weight: 500;
        }
        .list .listItens{
            padding: 0;
            list-style: none;
        }
        .list .listItens li{
            margin: 2px 8px;
            cursor: pointer;
        }
        .list .cadastro-item li{
            margin: 2px 8px;
            cursor: pointer;
        }
        
        .icon.iconActive .Three-points {
            background: transparent;
        }
    
        .icon.iconActive .Three-points::after {
            top: 0;
            background: #fff;
            transform: rotate(225deg);
        }
    
        .icon.iconActive .Three-points::before {
            top: 0;
            background: #fff;
            transform: rotate(135deg);
        }
    
        .menu.menuOpen {
            width: 150px;
            height: 100vh;
            background: #000;
            transition: 3s ease-in-out;
    
        }
    
        .menu.menuClose {
            display: none;
            width: 0px;
        }


  }